body {
	background-color: #242424;
	color: aliceblue;
}

aside {
	display: flex;
	width: 40vw;
	border-right: 1px solid #353535;
	height: 100vh;
}

@media (max-width: 600px) {
	aside {
		width: 100vw;
	}
}
